ul {
    font-size: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
#About{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    font-size: 50px;
    color: red;
}
a:link{
    color: blue;
}
a:visited{
    color: darkblue;
}
a:hover{
    color: blue;
}
#body{
    background-image: url(https://wallpaperaccess.com/full/85814.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 80px;
    color: #7B0808;
    margin: 2px;
}

h2 {
    font-size: 20px;
    text-align: center;
    margin: 2px;
}

body {
    background-image: url(https://wallpaperaccess.com/full/85814.jpg    );
    background-repeat: no-repeat;
    background-size: cover;
}

#main {
    width: 800px;
    height: auto;
    border-width: 10px;
    border-style: solid;
    margin: auto;
    margin-top: 40px;
    background-color: rgba(100, 100, 100, 0.8);
    border-radius: 10px;
}

#header {
    width: 100%;
    border-width: 4px;
    border-style: solid;
    margin: 0;
    background-color: rgba(100, 100, 100, 0.8);
}

#included {
    font-size: 60px;
    color: #7B0808;
    text-align: left;
    margin-bottom: 6px;
    margin-top: 5px;
    margin-left: 10px;
    font-weight: bold;
}

li {
    font-size: 30px;
    margin: 10px;
}

h4 {
    margin-bottom: 2px;
    margin-top: 10px;
}

li>section>p {
    margin-top: 2px;
    font-size: 20px;
}

img[alt="ram"] {
    width: 20%;
}

img[alt="mainboard"] {
    width: 20%;
}

img[alt="cpu"] {
    width: 20%;
}
