p{
    font-size: 20px;
}

.sidebar {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    grid-row: 1 / 2;
}
#ls{
    grid-column: 1 / 1;
}
#rs{
    grid-column: 3 / 3;
}


body{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 8% 92%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: stretch;
    align-items: stretch;

    margin: 0;
    padding: 0;
    font-family: Arial;
}

#navbar{
    background-color: darkgrey;
}

#main{
    background-color:#F5F5F5;
    grid-column: 2/2;
    grid-row: 2/2;
}

.container{
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;

    padding: 10px;
    margin: auto;
    margin-bottom: 30px;
    align-content: center;
    height: 320px;
    width: 400px;

    background-color: lightgray;
}
.container2{
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;

    padding: 10px;
    margin: 40px;
    margin-bottom: 30px;
    align-content: center;
    height: auto;
    width: auto;
    background-color: lightgray;
}
h1{
    font-size: 70px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: "Arial Black";
}

#by{
    font-size: 20px;
    text-align: center;
    font-style: italic;
}

h2{
    font-size: 30px;
    text-align: center;
    margin: 2px;
    font-family: "Arial Black";
}

.img{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 68%;
}
#mostImportant{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
h3{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 2px;
    font-family: "Arial Black";
}
.center{
    margin-right: auto;
    margin-left: auto;
}
table {
    text-align: center;
    border-collapse: separate;
    border-spacing: 0.2em;
    width: 50%;
}
th{
    text-align: center;
    font-size: 20px;
}
    
td {
    padding: .2em .5em;
    border-radius: .1em;  
}  

  
td {
    font-style: italic;
    text-align: left;
    box-shadow: inset 1px 3px 5px -3px rgba(0,0,0,.5);
}

.back{
    background-color: lightgray;
    border-style: solid;
    border-radius: 10px;
    margin: auto;
    height: min-content;
    width: fit-content;

    padding: 4px;

}

img[alt="Amd Logo"]{
    width: 10%;
    float: left;
    margin: 20px;
}

img[alt="Intel Logo"]{
    width: 10%;
    float: right;
    margin: 20px;
}

.mostimportantimg{
    width: 10%;
    float: left;
    margin: 4px ;
}
